.nom{
    margin-right:30%;
    margin-top: 10%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    font-size:50px
     }

.foto{
    margin-left:5%;
    margin-top:3%;
}

.infolateral{
    margin-left:3%;
    margin-top:2%;
}

.infocentral{
    float:left;
    margin-left:30%;
    font-size:40px;
}
